/Debug/
/Testing/
/SelfTest/
/build/
/build-host/
/build-coverage/
/cmake-build-*/
.metadata/
.settings/language.settings.xml.bak
*.o
*.obj
*.d
*.su
*.elf
*.hex
*.bin
*.map
*.list
*.gcov
*.gcda
*.gcno
*.log
